name: Build and Publish Task-script Artifact

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      namespace:
        required: true
        type: string
      slug:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      ssh_key:
        description: An SSH key with access to the Tetrascience Org
        required: true

jobs:
  publish:
    name: "Build and Publish Task Script"
    runs-on: ubuntu-latest
    # Only run this job if it is either a pull request or if it is a tag that was pushed
    if: github.event_name == 'pull_request' || (github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/'))
    steps:
      # Checkout the task script code
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ inputs.python-version }}
      - run: |
          pip install poetry
          pip install pipenv
      # Publish to correct targets
      - name: "Publish"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        # NOTE: update reference here to use a different version of the action
        uses: tetrascience/ts-deploy-task-script-action@requirements
        with:
          namespace: ${{ inputs.namespace }}
          slug: ${{ inputs.slug }}
          ssh_key: ${{ secrets.ssh_key }}
